@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500|Sriracha');

@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/futura/FuturaPT-Bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/futura/FuturaPT-Demi.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/futura/FuturaPT-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/futura/FuturaPT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
