class Foldable extends React.Component {
  constructor(props) {
    super(props);

    this.state = {
      // Amount, in degrees, to fold our bottom
      // half up. Ranges from 0 to 180.
      foldAngle: 0,
    }
  }

  render() {
    const {width, height, src} = this.props;
    const {foldAngle} = this.state;

    // Both our top half and bottom half share
    // a few common styles
    const sharedStyles = {
      width,
      height: height / 2,
      backgroundSize: `${width}px ${height}px`,
      backgroundImage:
        `url(${src})`,
    };

    // Our bottom half has its background
    // image shifted up by half of the
    // total height.
    const backgroundShift = height / 2 * -1;

    return (
      <div style={{ perspective: 500 }}>
        <div style={sharedStyles} />
        <div
          style={{
            ...sharedStyles,
            backgroundPosition:
              `0px ${backgroundShift}px`,
            transform:
              `rotateX(${foldAngle}deg)`,
            transformOrigin: 'center top',
            // This optional prop can improve
            // performance, by letting the
            // browser optimize it:
            willChange: 'transform',
          }}
        />

        <br />
        <h4>Fold ratio:</h4>
        <input
          type="range"
          min={0}
          max={180}
          value={foldAngle}
          onChange={ev =>
            this.setState({
              foldAngle: ev.target.value
            })
          }
        />
      </div>
    )
  }
}

render(
  <Foldable
    width={200}
    height={300}
    src={src}
  />
)
