const startPoint = [25, 25];
const controlPoint = [300, 175];
const endPoint = [25, 325];

render(
  <svg viewBox="0 0 200 350">
    <path
      d={`
        M 25,25
        C 175,50 25,75 25,100
        C 25,125 175,150 25,175
      `}
      fill="none"
      stroke="hotpink"
      strokeWidth={5}
    />
  </svg>
);
