const path = (
  <path
    d={`
      M 25,25
      C 100,50 25,75 25,100
      C 25,125 300,150 25,175
    `}
    fill="none"
    stroke="hotpink"
    strokeWidth={5}
  />
)

render(
  <svg
    viewBox="0 0 200 200"
    style={{ maxHeight: 400 }}
  >
    {path}
  </svg>
);
